@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 25px;
    width: 35px;
    top: 10px;
    right: 20px;
    z-index: 5;
    opacity: 0;
  }
  
  .navbar-container .hamburger-lines {
    display: block;
    height: 25px;
    width: 35px;
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
  }
  
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #f9f9f9;
  }
  
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu {
    top: 0px;
    right: 0;
  }
  
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(35deg);
  }
  
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-35deg);
  }

  .navbar-container .menu {
    list-style: none;
    position: absolute;
    top: -20px;
    right: -200vw;
    transition: right 0.3s ease-in-out;
    box-shadow: 5px;
    width: 100vw;
    height: 100vh;
    background-color: #31333b;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: #f9f9f9;
  }
  
  .navbar-container .menu a {
    text-decoration: none;
    color: #f9f9f9;
  }
  
  .navbar-container .menu a:hover {
    color: #ffc86b;
    transition: color 0.5s ease-in;
  }
  
  .navbar-container .menu li {
    margin-bottom: 30px;
  }
  
  .my-shadow {
    border:1px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #ffc86b;
   
  } 
  .my-text-shadow {
    text-shadow: 2px 2px 2px #000;
  }

  .download-shadow {
    border:1px solid white;
    border-radius: 15px;
    box-shadow: 3px 3px 2px rgb(196, 184, 184);
  } 